<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<form id="pet-order" method="POST" action="results">
    <label>Color<br>
        <select name="colors">
            <option value="green" >Green</option>
            <option value="pink" >Pink</option>
            <option value="orange" >Orange</option>
            <option value="yellow" >Yellow</option>
        </select>
    </label><br>
    <button type="submit" id="next">Next >></button>
</form>
</body>
</html>